In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/Users/oscarthieleserrano/code/intro_to_ai/assignment_2/data/reservations.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79390 entries, 0 to 79389
Data columns (total 31 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   year                       79390 non-null  int64
 1   month                      79390 non-null  object
 2   status                     79390 non-null  object
 3   status_date                79390 non-null  object
 4   number                     79390 non-null  int64
 5   day_of_month               79390 non-null  int64
 6   reservation_days_advance   79390 non-null  int64
 7   room_type                  79390 non-null  object
 8   weekend_nights             79390 non-null  int64
 9   week_nights                79390 non-null  int64
 10  num_adults                 79390 non-null  int64
 11  num_children               79386 non-null  float64
 12  num_babies                 79390 non-null  int64
 13  meal                       79390 non-null  object
 14  name_hotel                 79390 non-null  object
 15  CRM                        79390 non-null  object
 16  returning                  79390 non-null  int64
 17  room_assigned              79390 non-null  object
 18  reservation_changes        79390 non-null  int64
 19  deposit                    79390 non-null  object
 20  operator                   68780 non-null  float64
 21  entreprise                 4346 non-null   float64
 22  waiting_list               79390 non-null  int64
 23  segment                    79390 non-null  object
 24  average_rate               79390 non-null  float64
 25  num_vehicles               79390 non-null  int64
 26  num_cancellations          79390 non-null  int64
 27  num_bookings_not_canceled  79390 non-null  int64
 28  special_requests           79390 non-null  int64
 29  total_length_of_stay       79390 non-null  int64
 30  total_spending             79390 non-null  int64
dtypes: float64(4), int64(17), object(10)
memory usage: 18.8+ MB

In [6]:
df.describe()

,year,number,day_of_month,reservation_days_advance,weekend_nights,week_nights,num_adults,num_children,num_babies,returning,...,operator,entreprise,waiting_list,average_rate,num_vehicles,num_cancellations,num_bookings_not_canceled,special_requests,total_length_of_stay,total_spending
count,79390.000000,79390.000000,79390.000000,79390.000000,79390.000000,79390.000000,79390.000000,79386.000000,79390.000000,79390.000000,...,68780.000000,4346.000000,79390.000000,79390.000000,79390.000000,79390.000000,79390.000000,79390.000000,79390.000000,79390.000000
mean,2015.761784,30.334538,15.750661,107.863371,0.906852,2.464227,1.849225,0.092094,0.008351,0.028190,...,81.438587,161.209158,3.378070,95.537943,0.062917,0.124197,0.107671,0.501826,2.026817,231.245018
std,0.509083,13.272608,8.786656,111.159098,0.997056,1.885558,0.613342,0.377013,0.102708,0.165516,...,104.901383,112.172729,21.264941,47.812391,0.243748,1.023803,1.242978,0.750646,2.572277,308.535028
min,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2015.000000,20.000000,8.000000,18.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,...,9.000000,46.000000,0.000000,65.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2016.000000,33.000000,16.000000,70.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,...,13.000000,153.000000,0.000000,89.550000,0.000000,0.000000,0.000000,0.000000,1.000000,126.000000
75%,2016.000000,41.000000,23.000000,168.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,...,187.000000,223.000000,0.000000,117.797500,0.000000,0.000000,0.000000,1.000000,3.000000,365.000000
max,2017.000000,53.000000,31.000000,737.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,...,481.000000,487.000000,391.000000,5400.000000,3.000000,26.000000,54.000000,5.000000,69.000000,7592.000000

In [8]:
print(df.columns)
print(df.head())
print(df.tail())
print(df.sample(10))
print(df.isnull().sum())
print(df.duplicated().sum())

Index(['year', 'month', 'status', 'status_date', 'number', 'day_of_month',
       'reservation_days_advance', 'room_type', 'weekend_nights',
       'week_nights', 'num_adults', 'num_children', 'num_babies', 'meal',
       'name_hotel', 'CRM', 'returning', 'room_assigned',
       'reservation_changes', 'deposit', 'operator', 'entreprise',
       'waiting_list', 'segment', 'average_rate', 'num_vehicles',
       'num_cancellations', 'num_bookings_not_canceled', 'special_requests',
       'total_length_of_stay', 'total_spending'],
      dtype='object')
   year   month    status status_date  number  day_of_month  \
0  2015  August  Canceled  2014-10-17      33            13
1  2015    July  Canceled  2014-10-17      28             9
2  2015    July  Canceled  2014-10-17      28             9
3  2015    July  Canceled  2014-10-17      28             9
4  2015    July  Canceled  2014-10-17      28             9

   reservation_days_advance room_type  weekend_nights  week_nights  ...  \
0                       300         A               0            2  ...
1                       265         A               0            2  ...
2                       265         A               0            2  ...
3                       265         A               0            2  ...
4                       265         A               0            2  ...

   entreprise  waiting_list          segment average_rate num_vehicles  \
0         NaN             0  Transient-Party         62.8            0
1         NaN             0  Transient-Party         62.8            0
2         NaN             0  Transient-Party         62.8            0
3         NaN             0  Transient-Party         62.8            0
4         NaN             0  Transient-Party         62.8            0

  num_cancellations  num_bookings_not_canceled special_requests  \
0                 1                          0                0
1                 1                          0                0
2                 1                          0                0
3                 1                          0                0
4                 1                          0                0

   total_length_of_stay total_spending
0                     0              0
1                     0              0
2                     0              0
3                     0              0
4                     0              0

[5 rows x 31 columns]
       year     month     status status_date  number  day_of_month  \
79385  2017   January   Canceled  2016-12-07       2            14
79386  2016  December  Check-Out  2016-12-07      50             5
79387  2017     April   Canceled  2016-12-07      16            21
79388  2017   January   Canceled  2016-12-07       2            14
79389  2017      June   Canceled  2016-12-07      23             8

       reservation_days_advance room_type  weekend_nights  week_nights  ...  \
79385                        38         A               0            1  ...
79386                        13         A               1            1  ...
79387                       135         A               1            2  ...
79388                        38         A               0            1  ...
79389                       183         A               0            2  ...

       entreprise  waiting_list    segment average_rate num_vehicles  \
79385        67.0             0  Transient         75.0            0
79386         NaN             0  Transient         88.0            0
79387         NaN             0  Transient         90.0            0
79388        67.0             0  Transient         75.0            0
79389         NaN             0  Transient        120.0            0

      num_cancellations  num_bookings_not_canceled special_requests  \
79385                 0                          0                0
79386                 0                          0                0
79387                 0                          0                0
79388                 0                          0                0
79389                 0                          0                0

       total_length_of_stay total_spending
79385                     0              0
79386                     2            205
79387                     0              0
79388                     0              0
79389                     0              0

[5 rows x 31 columns]
       year     month     status status_date  number  day_of_month  \
240    2015      July   Canceled  2015-01-01      30            23
26765  2016   January   Canceled  2016-01-14       5            25
72583  2016  December   Canceled  2016-10-26      51            17
56605  2016      July  Check-Out  2016-07-17      29            13
45915  2016     April  Check-Out  2016-05-07      18            30
33953  2016  February  Check-Out  2016-02-28       9            27
14598  2015   October  Check-Out  2015-10-11      41             8
46047  2016       May  Check-Out  2016-05-08      19             6
35389  2016     March  Check-Out  2016-03-08      10             4
1492   2015      July   Canceled  2015-05-14      27             4

       reservation_days_advance room_type  weekend_nights  week_nights  ...  \
240                         279         A               0            2  ...
26765                        16         B               1            4  ...
72583                        53         A               1            1  ...
56605                        37         A               0            4  ...
45915                        98         A               2            5  ...
33953                         1         A               0            1  ...
14598                        10         D               0            3  ...
46047                       289         A               0            2  ...
35389                        53         A               2            2  ...
1492                        182         A               2            6  ...

       entreprise  waiting_list          segment average_rate num_vehicles  \
240           NaN             0         Contract        62.00            0
26765         NaN             0  Transient-Party        77.25            0
72583         NaN             0        Transient        43.00            0
56605         NaN             0        Transient       135.90            0
45915         NaN             0  Transient-Party       109.81            0
33953         NaN             0        Transient        91.00            0
14598         NaN             0        Transient        73.66            0
46047         NaN           259  Transient-Party        65.00            0
35389         NaN             0        Transient        65.75            0
1492          NaN             0        Transient        88.00            0

      num_cancellations  num_bookings_not_canceled special_requests  \
240                   1                          0                0
26765                 0                          0                0
72583                 0                          0                2
56605                 0                          0                2
45915                 0                          0                1
33953                 0                          0                1
14598                 0                          0                2
46047                 0                          0                0
35389                 0                          0                1
1492                  1                          0                1

       total_length_of_stay total_spending
240                       0              0
26765                     0              0
72583                     0              0
56605                     4            556
45915                     7            769
33953                     1             95
14598                     3            296
46047                     2            194
35389                     4            381
1492                      0              0

[10 rows x 31 columns]
year                             0
month                            0
status                           0
status_date                      0
number                           0
day_of_month                     0
reservation_days_advance         0
room_type                        0
weekend_nights                   0
week_nights                      0
num_adults                       0
num_children                     4
num_babies                       0
meal                             0
name_hotel                       0
CRM                              0
returning                        0
room_assigned                    0
reservation_changes              0
deposit                          0
operator                     10610
entreprise                   75044
waiting_list                     0
segment                          0
average_rate                     0
num_vehicles                     0
num_cancellations                0
num_bookings_not_canceled        0
special_requests                 0
total_length_of_stay             0
total_spending                   0
dtype: int64
18235

In [9]:
df.isna().sum()

year                             0
month                            0
status                           0
status_date                      0
number                           0
day_of_month                     0
reservation_days_advance         0
room_type                        0
weekend_nights                   0
week_nights                      0
num_adults                       0
num_children                     4
num_babies                       0
meal                             0
name_hotel                       0
CRM                              0
returning                        0
room_assigned                    0
reservation_changes              0
deposit                          0
operator                     10610
entreprise                   75044
waiting_list                     0
segment                          0
average_rate                     0
num_vehicles                     0
num_cancellations                0
num_bookings_not_canceled        0
special_requests                 0
total_length_of_stay             0
total_spending                   0
dtype: int64

In [12]:
df.columns

Index(['year', 'month', 'status', 'status_date', 'number', 'day_of_month',
       'reservation_days_advance', 'room_type', 'weekend_nights',
       'week_nights', 'num_adults', 'num_children', 'num_babies', 'meal',
       'name_hotel', 'CRM', 'returning', 'room_assigned',
       'reservation_changes', 'deposit', 'operator', 'entreprise',
       'waiting_list', 'segment', 'average_rate', 'num_vehicles',
       'num_cancellations', 'num_bookings_not_canceled', 'special_requests',
       'total_length_of_stay', 'total_spending'],
      dtype='object')

In [10]:
len(df)

79390

In [14]:
df["entreprise"]

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
79385    67.0
79386     NaN
79387     NaN
79388    67.0
79389     NaN
Name: entreprise, Length: 79390, dtype: float64

In [15]:
df = df.drop(columns=["entreprise"])

In [ ]:
df[["operator", ""]]

,year,month,status,status_date,number,day_of_month,reservation_days_advance,room_type,weekend_nights,week_nights,...,operator,waiting_list,segment,average_rate,num_vehicles,num_cancellations,num_bookings_not_canceled,special_requests,total_length_of_stay,total_spending
0,2015,August,Canceled,2014-10-17,33,13,300,A,0,2,...,1.0,0,Transient-Party,62.8,0,1,0,0,0,0
1,2015,July,Canceled,2014-10-17,28,9,265,A,0,2,...,1.0,0,Transient-Party,62.8,0,1,0,0,0,0
2,2015,July,Canceled,2014-10-17,28,9,265,A,0,2,...,1.0,0,Transient-Party,62.8,0,1,0,0,0,0
3,2015,July,Canceled,2014-10-17,28,9,265,A,0,2,...,1.0,0,Transient-Party,62.8,0,1,0,0,0,0
4,2015,July,Canceled,2014-10-17,28,9,265,A,0,2,...,1.0,0,Transient-Party,62.8,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79385,2017,January,Canceled,2016-12-07,2,14,38,A,0,1,...,NaN,0,Transient,75.0,0,0,0,0,0,0
79386,2016,December,Check-Out,2016-12-07,50,5,13,A,1,1,...,9.0,0,Transient,88.0,0,0,0,0,2,205
79387,2017,April,Canceled,2016-12-07,16,21,135,A,1,2,...,3.0,0,Transient,90.0,0,0,0,0,0,0
79388,2017,January,Canceled,2016-12-07,2,14,38,A,0,1,...,NaN,0,Transient,75.0,0,0,0,0,0,0
79389,2017,June,Canceled,2016-12-07,23,8,183,A,0,2,...,86.0,0,Transient,120.0,0,0,0,0,0,0